# class-schedule direnv 环境配置
# 首次使用需运行: direnv allow
# 安装: brew install direnv && echo 'eval "$(direnv hook zsh)"' >> ~/.zshrc

use nvm 22.22.0

export NODE_ENV="development"
export PROJECT_ID="class-schedule"

PATH_add node_modules/.bin